body {
  color: #333;
  background-color: white;
}

.scrollable {
  background-size: ;
  background-attachment: local;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  background-size: 440px;
  background-repeat: repeat;
  overflow-y: auto;
}

.pretty-input {
  margin-bottom: 30px;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  display: block;
}

.pretty-text {
  width: 77%;
  border: 1px #aab1b7 solid;
  font-size: 14pt;
  padding: 3px 3px 3px 11px;
  height: 32px;
  border-radius: 5px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 600px;
  border: solid 5px #8e8e8e;
  font-family: "Courier Prime", monospace;
  padding: 20px;
  text-align: center;
  overflow: auto;
}

.titulo {
  margin-left: auto;
  margin-right: auto;
  font-size: 50pt;
  width: fit-content;
  background-image: url(/images/fondo-celeste.png);
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.titulo.master {
  font-size: 100pt;
}

.instrucciones {
  margin-top: 30px;
  font-size: 21pt;
  margin-bottom: 60px;
}

.esperando {
  font-size: 30pt;
}

.boton {
  font-size: 28pt;
  cursor: pointer;
  background-image: url(/images/fondo-verde.png);
  margin-bottom: 20px;
  background-size: 67%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.inputText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 281px;
  padding: 10px;
  margin-top: 10px;
  font-size: 21pt;
  border: solid 3px #8e8e8e;
  border-radius: 10px;
  margin-bottom: 30px;
  font-family: "Courier Prime", monospace;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  height: 50px;
  width: 50px;
  border: solid 3px #8e8e8e;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 32pt;
}

.tituloPregunta {
  background-image: url(/images/fondo-celeste.png);
  font-size: 20pt;
  margin-bottom: 40px;
  background-size: 67%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.textoPregunta {
  font-size: 17pt;
  margin-bottom: 20px;
  line-height: 1;
}

.radioOpciones {
  margin-bottom: 20px;
}

.radioButton {
  width: 20px;
  height: 20px;
}

.radioLabel {
  font-size: 17pt;
  margin-left: 9px;
  margin-bottom: 15px;
  margin-bottom: 20px;
  background-size: 67%;
  background-repeat: no-repeat;
  background-position: inherit;
}

.radioLabel.uno {
  background-image: url(/images/fondo-rosado.png);
}

.radioLabel.dos {
  background-image: url(/images/fondo-naranja.png);
}

.radioLabel.tres {
  background-image: url(/images/fondo-amarillo.png);
}

.respuesta {
  font-size: 15pt;
  line-height: 1;
  background-image: url(/images/fondo-verde.png);
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: top;
}

.guion {
  font-size: 17pt;
}

.newLine {
  display: block;
}

.resaltado {
  margin-bottom: 10px;
  background-image: url(/images/fondo-amarillo.png);
  margin-bottom: 15px;
  margin-bottom: 20px;
  background-size: 67%;
  background-repeat: no-repeat;
  background-position: inherit;
  font-weight: 800;
}

.noResaltado {
  color: #bbb;
  font-size: 12pt;
  margin-bottom: 10px;
}

.cartasTitulo {
  background-image: url(/images/fondo-naranja.png);
  margin-bottom: 20px;
  background-size: 67%;
  background-repeat: no-repeat;
  background-position: inherit;
  font-size: 16pt;
}
.cartas {
  margin-top: 40px;
}
.carta {
  max-width: 80%;
  margin-top: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body,
input,
textarea,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

p {
  text-rendering: optimizeLegibility;
}

strong {
  font-weight: 700;
}

.cover,
#main,
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(/images/bgpattern.jpg);
  background-repeat-y: repeat;
  background-repeat-x: repeat;
  background-size: 22%;
  background-attachment: local;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.no-background {
  background-image: none;
  background-color: white;
  padding-left: 30px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.app-view {
  /* position: relative;
  z-index: 1;
  padding: 0;
  transition: padding 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: absolute;
  top: 140px;*/
}

.app-view .view-content.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 450ms ease-out, opacity 400ms ease-out;
}
